# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"

VITE_FIREBASE_API_KEY="AIzaSyDjgrBvKUaVg9U1XustHj9TeO4lHZDrcNg"
VITE_FIREBASE_AUTH_DOMAIN="fanra-dev.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="fanra-dev"
VITE_FIREBASE_STORAGE_BUCKET="fanra-dev.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="664735861834"
VITE_FIREBASE_APP_ID="1:664735861834:web:6519570201553dbe4faab3"
VITE_FIREBASE_MEASUREMENT_ID="G-HMKEVZS65H"
